<h1>New Image!</h1>

<%= form_for @image, html: {multipart: true} do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.file_field :resource %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
