<div class="row gap">
  <div class="eight columns">
    <div class="image">
      <header class="image__header">
        <h1 class="image__title"><%= @image.title %></h1>
        <div class="image__date"><%= @image.created_at %></div>
      </header>
      <article class="image__resource gap">
        <%= image_tag @image.resource.url %>
      </article>
    </div>
  </div>
  <div class="four columns right">
    <div class="box">
      <section class="section half-pad">
        <h2 class="section__title">Image URL</h2>
        <code class="url-area quarter-gap quarter-pad"><%= short_image_url(@image) %></code>
      </section>
      <section class="section half-pad">
        <h2 class="section__title">Direct URL</h2>
        <code class="url-area quarter-gap quarter-pad"><%= short_image_url(@image, format: :png) %></code>
      </section>
    </div>

    
  </div>
</div>
