<!DOCTYPE html>
<html>
<head>
  <title>Hyper</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- <link rel="stylesheet" href="http://basehold.it/24"> -->
  <%= csrf_meta_tags %>
</head>
<body>

<header class="main-header">
  <div class="grid-container">
    <%= link_to 'Hyper', root_path, class: 'main-header__root' %>

    <div class="right">
      <%= link_to new_image_path do %>
        <%= fa_icon 'upload 2x' %>
      <% end %>
    </div>
  </div>
</header>
<main>
  <div class="grid-container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </div>
</main>

<div class="uploader">
  <div class="uploader__overlay"></div>
  <div class="uploader__content box half-pad">
    <h2 class="text-center uploader__title">Upload some images.</h2>
    <a class="uploader__close" title="Close"><%= fa_icon 'close' %></a>

    <%= form_for(Image.new) do |f| %>
      <%= f.cl_image_upload :resource, multiple: true %>

      <div class="field">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>

<%= cloudinary_js_config %>
</body>
</html>
